@font-face{
font-family:Roboto-Black;
src: url("../fonts/Roboto-Black.ttf");
}
@font-face{
font-family:Roboto-Medium;
src: url("../fonts/Roboto-Light.ttf");
}

body{
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-size: stretch;
}

.titluAnunt{
	font-size:45;
	font-family:Roboto-Black;
}
.descAnunt{
	font-size:25;
	font-family:Roboto-Light;
}
